.App {
  text-align: center;
}
.bgColor{
  background: linear-gradient(to right, #f9d423 10%, #f83600 100%);
}
.text-dark:hover{
  color: rgba(0, 0, 0, 0.5) !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.title{
  top: 55% !important;
  left: 31% !important;
  width: 40%;
}
.mesg{
  height: 100px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
